---
import Layout from '../layouts/Layout.astro';
---

<Layout title="El Rincón de Martin - Inicio">
  <article>
    <h1>Quién soy?</h1>
    <p>
      ¡Hola! ¿Cómo estás? Me presento, me llamo Martín y soy un entusiasta de la programación web, informática y de la tecnología en general. También me gusta hacer cosas que surjan de la pura creatividad, además me encanta construir cosas, ya sea programando o manualmente.
    </p>
  </article>
</Layout>
