---
import Layout from "../layouts/Layout.astro";
---

<Layout title="El Rincón de Martin - Inicio">
  <main class="p-4 mt items-center text-center">
    <div class="text-center mt-4 mb-8 flex flex-col items-center">
      <h1 class="text-4xl font-bold">Sobre mí 👋</h1>
    </div>

    <article class="flex flex-col p-2 ml-auto mr-auto max-w-[70%]">
      <h1 class="text-black text-2xl font-bold mb-2">¿Quién soy?</h1>
      <p class="text-black text-[16px]">
        ¡Hola! ¿Cómo estás? Me presento, me llamo <strong>Martin</strong> y soy un
        entusiasta de la <strong>programación web</strong>, <strong
          >informática</strong
        >
        y de la <strong>tecnología</strong> en general. También me gusta hacer cosas
        que surjan de la pura <strong>creatividad</strong>, además me encanta <strong
          >construir</strong
        > cosas, ya sea programando o manualmente.
      </p>
      <img
        src="/undraw_programmer_raqr.svg"
        alt="Ilustración programador"
        class="mx-auto w-20 h-20 mb-4"
      />
    </article>

    <article class="flex flex-col p-2 ml-auto mr-auto max-w-[70%] mt-2 mb-2">
      <h1 class="text-black text-2xl font-bold mb-2">¿Y esto qué es?</h1>
      <p>
        Pues te lo respondo rápido, este es <strong>mi blog</strong> (que he creado
        yo 😀), y es un lugar en el que iré subiendo <strong>posts</strong> explicando
        cosas que voy <strong>aprendiendo</strong> (estoy aprendiendo desarrollo
        web), y iré <strong>publicando proyectos</strong> que vaya haciendo durante
        este proceso. Verás algunos que pueden tener <strong>sentido</strong> o ser
        bastante <strong>comunes</strong>, pero también encontrarás <strong
          >ideas de proyectos locos</strong
        > o extrañas con las que yo mismo me pregunto, ¿Esto tiene sentido 🤯? Pues
        ni yo sé que decir, así que imagínate como son.
      </p>
    </article>

    <article class="flex flex-col p-2 ml-auto mr-auto max-w-[70%] mt-2 mb-2">
      <h1 class="text-black text-2xl font-bold mb-2">¿Qué encontrarás aquí?</h1>
      <p>
        Quiero compartir todo esto pues para ir <strong>enseñando</strong> lo que
        voy <strong>aprendiendo</strong>
        (por si más adelante alguna <strong>empresa</strong> me quiere contratar,
        lo tendré aquí registrado). Aparte de esto también lo aprovecharé para subir
        <strong>posts</strong> de cosas que me pasan o de las que reflexiono para
        ver si hay alguien que le interese y quiera pensarlas, y casualmente subiré
        <strong>trucos</strong>, <strong>curiosidades</strong> o cualquier cosa que
        me parezca interesante sobre <strong>informática</strong> o del
        <strong>mundo tecnológico</strong>.
      </p>
    </article>

    <article class="flex flex-col p-2 ml-auto mr-auto max-w-[70%] mt-2 mb-2">
      <h1 class="text-black text-2xl font-bold mb-2">
        ¿Qué tiene de diferente este blog?
      </h1>
      <p>
        Dirás, bueno muy bien un blog más en la web, y yo te diré: puede ser un
        <strong>blog más</strong> si quieres verlo así, pero yo quiero darle un
        <strong>enfoque no tan técnico</strong> sino una mezcla de un estilo más
        <strong>casual</strong>. Un enfoque no tan recto, sino que quiero hablar
        de la <strong>programación</strong> desde la idea de que para <strong
          >aprenderla</strong
        >
        o para <strong>entenderla</strong> no hay que ser tan cerrado en un punto
        de vista, sino que puedes hacerlo desde la <strong>curiosidad</strong>,
        <strong>imaginación</strong> y <strong>creatividad</strong>.
      </p>
    </article>

    <article class="flex flex-col p-2 ml-auto mr-auto max-w-[70%] mt-2 mb-2">
      <h1 class="text-black text-2xl font-bold mb-2">
        ¿Y fuera de la tecnología?
      </h1>
      <p>
        Bueno, y aparte de las <strong>pantallas</strong> y todo lo <strong
          >tech</strong
        >, pues me gustan más cosas, como el <strong>fútbol</strong> (HALA MADRID
        ⚪️), el <strong>mar</strong>, la <strong>montaña</strong> y pasar tiempo
        con mi
        <strong>familia</strong>.
      </p>
    </article>

    <article class="flex flex-col p-2 ml-auto mr-auto max-w-[70%] mt-2 mb-2">
      <h1 class="text-black text-2xl font-bold mb-2">
        ¿Cuál es mi objetivo con todo esto?
      </h1>
      <p>
        Y como cierre, quiero dejar claro que mi <strong>objetivo</strong> con esto
        es seguir <strong>creciendo</strong> como <strong>desarrollador</strong>
        y
        <strong>creativo</strong>, y este blog es parte de ese viaje. Si te
        interesa
        <strong>colaborar</strong>, tienes una <strong>idea loca</strong> o simplemente
        quieres <strong>saludar</strong>, ¡escríbeme!
      </p>
    </article>
  </main>
</Layout>
