---
import Layout from "../layouts/Layout.astro";
---

<Layout title="El Rincón de Martin - Inicio">
  <main class="p-4">
    <article class="flex flex-col p-2 max-w-[70%]">
      <h1 class="text-black text-2xl font-bold mb-2">Quién soy?</h1>
      <p class="text-black text-[16px]">
        ¡Hola! ¿Cómo estás? Me presento, me llamo <strong>Martin</strong> y soy un
        entusiasta de la programación web, informática y de la tecnología en general.
        También me gusta hacer cosas que surjan de la pura <strong
          >creatividad</strong
        >, además me encanta <strong>construir</strong> cosas, ya sea programando
        o manualmente.
      </p>
    </article>
    <article class="flex flex-col p-2 max-w-[70%]">
      <h1 class="text-black text-2xl font-bold mb-2">¿Y esto qué es?</h1>
      <p>
        Pues te lo respondo rápido, este es <strong>mi blog</strong> (que he creado yo 😀), y es
        un lugar en el que iré subiendo posts explicando cosas que voy
        aprendiendo (estoy aprendiendo desarrollo web), y iré <strong>publicando
        proyectos</strong> que vaya haciendo durante este proceso. Verás algunos que
        pueden tener <strong>sentido o ser bastante comunes, pero verás que diré ideas
        de <strong>proyectos locos o extrañas</strong> con las que yo mismo me pregunto,
        ¿Esto tiene sentido 🤯? Pues ni yo sé que decir, así que imagínate como
        son.
      </p>
    </article>
  </main>
</Layout>
