---
import Layout from "../layouts/Layout.astro";
---

<Layout title="El Rincón de Martin - Contáctame">
  <main class="w-full h-auto flex-grow p-4">
    <h1 class="text-3xl text-[#1C1C1C] font-extrabold mb-2">
      ¿Quieres hablar conmigo?
    </h1>
    <p>
      Si quieres ponerte en contacto conmigo, puedes hacerlo rellenando el
      formulario que te encontrarás justo debajo.
    </p>
    <!-- Zona del formulario de contacto -->
    <div class="mt-4 border-2 border-gray-400 rounded-lg p-4 bg-gray-200">
      <form
        action="https://formspree.io/f/xpwjnnvq"
        method="POST"
        class="flex flex-col"
      >
        <label class="mb-2 text-lg text-black font-medium ml-2">
          Tu nombre:
          <input
            type="text"
            name="name"
            class="border-black border-2 rounded-lg p-1 focus:outline-none ml-2"
          />
        </label>
        <label class="mb-2 text-lg text-black font-medium ml-2">
          Tu correo electrónico:
          <input
            type="email"
            name="email"
            class="border-black border-2 rounded-lg p-1 focus:outline-none ml-2"
          />
        </label>
        <label class="mb-2 text-lg text-black font-medium ml-2">
          Asunto del mensaje:
          <input
            type="text"
            name="asunto"
            class="border-black border-2 rounded-lg p-1 focus:outline-none ml-2"
          />
        </label>
        <label class="flex flex-col mb-2 text-lg text-black font-medium ml-2">
          Tu mensaje:
          <textarea
            name="message"
            class="border-black border-2 rounded-lg p-1 focus:outline-none ml-2 h-30 max-w-[60%]"
          ></textarea>
        </label>
        <button
          type="submit"
          class="border-2 border-black rounded-lg bg-[#C0392B] text-[#ECF0F1] text-xl font-bold p-1 ml-4 max-w-45"
          >Enviar mensaje</button
        >
      </form>
    </div>
  </main>
</Layout>
