---
import Layout from "../layouts/Layout.astro";
---

<Layout title="El Rincón de Martin - Registrarse">
  <main class="flex flex-col mt-4 mb-4 p-4 flex-grow">
    <section>
      
    </section>
  </main>
</Layout>
