---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="El Rincón de Martin - Proyectos">
  <main class="p-4 mt-4 mb-4 flex-grow">
    <h1 lass>Mis proyectos</h1>
    <p>En esta sección de mi blog enontrarás todos mis proyetos, que ya he hecho, o en los que estoy trabajando</p>
  </main>
</Layout>
