---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <main class="flex flex-xol flex-grow p-4">
    <div class="w-full max-w-[70%] mx-auto">
      <h1 class="font-bold text-black text-3xl mb-4">Subir un post a proyectos</h1>
      <form>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
            Nombre del proyecto:
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="title"
            type="text"
            placeholder="Nombre del proyecto"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="explanation">
            Explicación del proyecto:
          </label>
          <textarea
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="explanation"
            rows="4"
            placeholder="Explicación del proyecto"
            required
          ></textarea>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="link">
            Enlace al proyecto:
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="link"
            type="url"
            placeholder="https://ejemplo.com"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="image">
            Imagen del proyecto:
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="image"
            type="file"
            accept="image/*"
            required
          />
        </div>
        <div class="flex items-center justify-between">
          <button
            class="text-orange w-50 border-2 border-black bg-amber-00 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            Subir Proyecto
          </button>
        </div>
      </form>
    </div>
  </main>
</Layout>