.menu {
  box-shadow: 0px 6px 6px 4px rgba(140, 140, 140, 0.413);
  text-shadow: 4px 4px rgba(54, 54, 54, 0.413);
  display: flex; 
  padding-top: 6px;
  padding-bottom: 6px; 
  padding-left: 2rem;
  padding-right: 2rem; 
  flex-direction: row; 
  gap: 5rem; 
  justify-content: space-around; 
  border: 2px solid #ffffff;
  border-radius: 50px;
  position: sticky;
}