<header class="max-w-full w-full max-h-24 h-24 flex flex-col">
	<!-- Div del logo principal -->
	<div class="w-full h-auto left-0 p-2 bg-[#2C3E50]">
    <a href="/">
      <img src="/logo.webp" class="w-48 h-18 ml-8 mt-4 mb-2 rounded-[5%]" alt="Logo del blog">
    </a>
	</div>
  <!-- Navbar de los enlaces -->
  <nav class="w-full h-auto flex flex-row bg-[#007BFF] p-2">
    <ul class="w-full flex flex-row justify-around list-none text-lg font-medium">
      <li><a href="/" class="text-[#FFFFFF]">Inicio</a></li>
      <li><a href="/blog" class="text-[#FFFFFF]">Blog</a></li>
      <li><a href="/projects" class="text-[#FFFFFF]">Proyectos</a></li>
      <li><a href="/about" class="text-[#FFFFFF]">Sobre mí</a></li>
      <li><a href="/contact" class="text-[#FFFFFF]"></a>Contacto</a></li>
    </ul>
  </nav>
</header>