<header class="max-w-full w-full max-h-24 h-24 p-2 flex flex-col">
	<!-- Div del logo principal -->
	<div class="ml-8 mt-4 left-0">
    <a href="/">
      <img src="/logo.webp" class="w-48 h-18" alt="Logo del blog">
    </a>
	</div>
  <!-- Navbar de los enlaces -->
  <nav class="w-full h-4 flex flex-col">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/projects">Proyectos</a></li>
      <li><a href="/about">Sobre mí</a></li>
      <li><a href="/contact">Contacto</a></li>
    </ul>
  </nav>
</header>