<footer class="bottom-0 fixed w-full p-4 bg-[#2C3E50] text-[#ECF0F1]">
  <p>&copy; 2025 Martin Adolfo Bravo Montaño. Todos los derechos reservados.</p>
  <p>Diseñado y desarrollado por Martin Adolfo Bravo Montaño.</p>
  <p class="font-semibold">
    Puedes encontrar el código fuente en <a
      href="https://github.com/Martin08ABM/El-rincon-de-martin"
      target="_blank"
      class="text-red-00">Github</a>
  </p>
</footer>
