<header class="max-w-full w-full max-h-24 h-24 flex flex-col mb-6">
	<!-- Section de la primea parte del Header -->
   <div class="flex flex-row w-full h-auto">
    <div class="flex flex-row w-full h-auto justify-between items-center p-5 bg-[#2C3E50]">
      <a href="/" class="p-2 ml-[2%]">
        <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold text-[#ECF0F1]">
          El Rincón de Martín
        </h1>
      </a>
      <!-- Input de búsqueda responsivo -->
      <div class="flex items-center">
        <!-- Input search responsivo -->
        <div class="hidden md:block">
          <input
            type="search"
            name="search"
            placeholder="Buscar..."
            id="searchBar"
            class="w-64 lg:w-80 h-10 border-2 border-[#1C1C1C] rounded-xl bg-white px-4 py-2 text-sm"
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Navbar con enlaces -->
  <nav class="w-full h-auto flex flex-row bg-[#007BFF] p-2">
    <ul class="w-full flex flex-row justify-evenly list-none text-md font-medium">
      <!-- Enlaces a secciones de la web -->
      <li>
        <a href="/" class="text-[#FFFFFF]">
          Inicio
        </a>
      </li>
      <li>
        <a href="/blog/blog" class="text-[#FFFFFF]">
          Blog
        </a>
      </li>
      <li>
        <a href="/projects/projects" class="text-[#FFFFFF]">
          Proyectos
        </a>
      </li>
      <li>
        <a href="/about-me" class="text-[#FFFFFF]">
          Sobre mí
        </a>
      </li>
      <li>
        <a href="/contact" class="text-[#FFFFFF]">
          Contacto
        </a>
      </li>
    </ul>
  </nav>
</header>